// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.adventure-page {
  .banner-section {
    height: calc(100vh - 85px);
    .carousel {
      .carousel-inner {
        .carousel-item {
          .carousel-item-content {
            height: calc(100vh - 85px);
            width: 100%;
            background-size: cover;
            background-position: center center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            h1 {
                font-size: 58px;
                font-weight: 700;
                text-shadow: 0 0 10px #383333;
            }
          }
        }
      }
      .carousel-indicators {
        li {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          box-shadow: 0 0 5px #383333;
          margin: 0 5px;
          background: white;
          &.active {
              width: 20px;
              height: 20px;
              transition: 0.5s all ease-in-out;
              margin-top: -4px;
          }
        }
      }
    }
  }
  .adventures-section {
    padding: 40px 0 10px 0;
    .page-section__title {
      margin-bottom: 0;
      font-size: 39px;
      font-family: $text-font-stack;
      text-transform: none;
    }
    .adventures-section__header {
      padding: 0 15px;
      flex-wrap: nowrap;
      justify-content: space-between;
      .adventures-section__header__title {
        font-weight: 700;
      }
    }
    .adventures-section__filter {
      display: flex;
      align-items: center;
      select {
        width: 220px;
        margin-right: 15px;
        height: 40px;
        font-size: 100%;
      }
    }
    .adventures__gv {
      margin-top: 45px;
      .adventure-thumbnail {
        padding: 15px;
        box-shadow: 0 0 10px lightgrey;
        margin-bottom: 30px;
        max-width: 380px;
        height: 240px;
        .adventure-thumbnail__content {
          background-size: cover;
          background-position: center center;
          border-radius: 5px;
          .adventure-thumbnail__content__overlay {
            background: rgba(0, 0, 0, 0.4);
            max-width: 350px;
            width: 100%;
            height: 210px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h3 {
              font-weight: 300;
              margin-bottom: 20px;
              color: white;
            }
            button {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .events-section {
    padding: 40px 0;
    .events {
      margin-top: 40px;
      .event {
        display: flex;
        align-items: center;
        min-height: 220px;
        width: 100%;
        box-shadow: 0 0 10px grey;
        margin-bottom: 10px;
        .event__img {
          max-width: 270px;
          height: 220px;
          width: 100%;
          background-size: cover;
          background-position: center center;
        }
        .event__content {
          flex-grow: 1;
          .event__content__head {
            padding: 15px 20px;
            border-bottom: 2px solid #dfdcd7;
            h4 {
              font-weight: 400;
              font-size: 32px;
              span {
                font-size: 17px;
                display: inline-block;
                padding-left: 20px;
                font-family: $condensed-font-stack;
              }
            }
            h6 {
              margin-bottom: 0;
              font-weight: 400;
              font-size: 23px;
              span {
                font-size: 17px;
                font-family: $condensed-font-stack;
              }
            }
          }
          .event__content__body {
            display: flex;
            .event__date {
              padding: 25px 40px;
              display: flex;
              align-items: center;
              sup {
                top: -1.2em;
                font-size: 20px;
                color: #858585;
                font-family: $condensed-font-stack;
              }
              span {
                display: inline-block;
                font-size: 43px;
                color: #c2040e;
                font-weight: 600;
                position: relative;
                font-family: $condensed-font-stack;
                &:before {
                  content: '|';
                  display: block;
                  position: absolute;
                  transform: rotate(40deg);
                  top: -13px;
                  left: 4px;
                  font-weight: 300;
                  font-family: $condensed-font-stack;
                }
              }
            }
            .event__description {
              padding: 25px 40px;
              border-left: 2px solid #dfdcd7;
              p {
                font-size: 20px;
                margin-bottom: 0;
                font-family: $condensed-font-stack;
              }
              a {
                color: #0283ff;
                text-decoration: none;
                font-family: $condensed-font-stack;
                font-size: 18px;
                .fa {
                  color: #0283ff;
                  margin-right: 5px;
                }
              }
            }
          }
        }
        .event__more {
            max-width: 270px;
            height: 220px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 2px solid #dfdcd7;
            .btn-black {
              padding: 15px 20px;
              border-radius: 0;
            }
        }
      }
    }
  }


  @media only screen and (max-width: 1199px) {
      .events-section {
          .events {
              .event {
                  .event__content {
                      .event__content__head {
                          h4 {
                              font-size: 24px;
                          }
                      }
                  }
              }
          }
      }
  }

  @media only screen and (max-width: 991px) {
    .events-section {
      .events {
        .event {
          max-width: 300px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          flex-direction: column;
          .event__img {
            max-width: 300px;
          }
          .event__content {
            .event__content__head {
              h4 {
                font-size: 15px;
              }
              h6 {
                font-size: 14px;
              }
            }
            .event__content__body {
              border-bottom: 2px solid #dfdcd7;
              .event__date {
                padding: 10px 20px;
                p {
                  font-size: 18px;
                }
              }
              .event__description {
                padding: 10px 20px;
                p {
                  font-size: 18px;
                }
              }
            }
          }
          .event__more {
            max-width: 300px;
            height: auto;
            padding: 20px 0;
            border-left: 0px;
          }
        }
      }
    }
  }


  @media only screen and (max-width: 767px) {
      .banner-section {
          height: 250px;
          .carousel {
              .carousel-inner {
                  .carousel-item {
                      .carousel-item-content {
                          height: 250px;
                          h1 {
                              font-size: 30px;
                          }
                      }
                  }
              }
          }
      }
      .adventures-section {
          .adventures-section__header {
              flex-direction: column;
              h2 {
                  text-align: center;
                  margin-bottom: 20px;
                  font-size: 30px;
              }
              .adventures-section__filter {
                  justify-content: center;
              }
          }
          .adventures__gv {
              .adventure-thumbnail {
                  margin-left: auto;
                  margin-right: auto;
              }
          }
      }
  }
}
