// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
#site-header {
  background: rgba(26, 25, 30, 0.7);
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
  .navbar-brand {
    background: #9d9d9d;
    padding: 15px 30px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
  }
  .navbar {
    .navbar-nav {
      .nav-item {
        display: flex;
        align-items: center;
        .nav-link {
          font-family: $condensed-font-stack;
          color: white;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 600;
        }
        &:after {
          content: "";
          width: 5px;
          height: 5px;
          background:#ecff31;
          display: block;
          margin: 0 6px;
        }
        &:hover, &.active {
          .nav-link {
            color: #ecff31;
          }
        }
      }
      > .nav-item:last-child {
        &:after {
          display: none;
        }
      }
    }
    .navbar-toggler {
      border-color: #9d9d9d;
      background: #9d9d9d;
    }
  }
  @media only screen and (max-width: 1199px) {
    .navbar {
      .navbar-nav {
        .nav-item {
          padding: 8px 0;
          &:after {
            display: none;
          }
        }
      }
      #navbarSupportedContent {
        border-top: 1px solid #9d9d9d;
        margin-top: 15px;
      }
    }
  }
}
