// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-black {
    color: $brand-color;
    background-color: #000000;
    border-color: #000000;
    padding: 6px 20px;
    border-radius: 3px;
}


.btn-yellow {
    color: #000000;
    background-color: $brand-color;
    border-color: $brand-color;
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: 600;
}
